.container {
  display: flex;
  justify-content: center; /* Center the form horizontally */
  padding: 20px;
  flex-grow: 1;
}

form {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: lightblue;
  box-sizing: border-box;
}

form div {
  margin-bottom: 16px;
}
