.sidebar {
  width: 18%;
  flex-shrink: 0;
  background-color: lightblue;
  padding: 20px;
  position: fixed;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar h2 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 2rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #e2e6ea;
}

.sidebar .logout-button {
  position: absolute;
  bottom: 10px;
  width: 80%;
}
